@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8fafc;
  --foreground: #0f1e24;
  --card: #ffffff;
  --card-foreground: #0f1e24;
  --popover: #ffffff;
  --popover-foreground: #0f1e24;
  --primary: #1a333d;
  --primary-foreground: #ffffff;
  --secondary: #e7ecef;
  --secondary-foreground: #1a333d;
  --muted: #f3f6f7;
  --muted-foreground: #5c6a70;
  --accent: #264b5a;
  --accent-foreground: #ffffff;
  --destructive: #ef4343;
  --destructive-foreground: #fafafa;
  --border: #e0e8eb;
  --input: #e0e8eb;
  --ring: #1a333d;
  --chart-1: #1a333d;
  --chart-2: #477385;
  --chart-3: #80a4b3;
  --chart-4: #b3c5cc;
  --chart-5: #d3dbde;
  --sidebar: #ffffff;
  --sidebar-foreground: #0f1e24;
  --sidebar-primary: #1a333d;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f3f6f7;
  --sidebar-accent-foreground: #1a333d;
  --sidebar-border: #e0e8eb;
  --sidebar-ring: #1a333d;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(197, 41%, 10%);
  --shadow-2xs: 0px 2px 10px 0px hsl(197 41% 10% / 0.03);
  --shadow-xs: 0px 2px 10px 0px hsl(197 41% 10% / 0.03);
  --shadow-sm:
    0px 2px 10px 0px hsl(197 41% 10% / 0.05),
    0px 1px 2px -1px hsl(197 41% 10% / 0.05);
  --shadow:
    0px 2px 10px 0px hsl(197 41% 10% / 0.05),
    0px 1px 2px -1px hsl(197 41% 10% / 0.05);
  --shadow-md:
    0px 2px 10px 0px hsl(197 41% 10% / 0.05),
    0px 2px 4px -1px hsl(197 41% 10% / 0.05);
  --shadow-lg:
    0px 2px 10px 0px hsl(197 41% 10% / 0.05),
    0px 4px 6px -1px hsl(197 41% 10% / 0.05);
  --shadow-xl:
    0px 2px 10px 0px hsl(197 41% 10% / 0.05),
    0px 8px 10px -1px hsl(197 41% 10% / 0.05);
  --shadow-2xl: 0px 2px 10px 0px hsl(197 41% 10% / 0.13);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: #05080f;
  --foreground: #f9fafb;
  --card: #0e131b;
  --card-foreground: #f9fafb;
  --popover: #080c16;
  --popover-foreground: #f9fafb;
  --primary: #1a333d;
  --primary-foreground: #ffffff;
  --secondary: #12242b;
  --secondary-foreground: #f9fafb;
  --muted: #151c29;
  --muted-foreground: #94a3b8;
  --accent: #21424f;
  --accent-foreground: #f9fafb;
  --destructive: #7c1d1d;
  --destructive-foreground: #fafafa;
  --border: #1a2333;
  --input: #1a2333;
  --ring: #264b5a;
  --chart-1: #1a333d;
  --chart-2: #2d6d86;
  --chart-3: #5ea0ba;
  --chart-4: #acc8d2;
  --chart-5: #d1dce0;
  --sidebar: #04060b;
  --sidebar-foreground: #f9fafb;
  --sidebar-primary: #1a333d;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #0f1e24;
  --sidebar-accent-foreground: #f9fafb;
  --sidebar-border: #151c29;
  --sidebar-ring: #264b5a;
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 20px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.5;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm:
    0px 8px 20px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow:
    0px 8px 20px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md:
    0px 8px 20px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg:
    0px 8px 20px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl:
    0px 8px 20px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

::-webkit-scrollbar {
  display: none;
}

body {
  letter-spacing: var(--tracking-normal);
}
.meow {
  color: #1a4153;
  color: #19323c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

/* React Flow node selection styles */
.react-flow__node.selected #base-node {
  @apply ring-3 ring-muted-foreground/25 shadow-lg;
}